.searchResultsHeader {
    margin-bottom: 25px;
    font-size: 1.1rem;
}

.resultsContainer {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
    .resultsContainer {
        grid-template-columns: repeat(2, auto);
        gap: 0.3rem;
        margin-bottom: 10px;
    }

    .searchResultsHeader {
        margin-bottom: 15px;
        font-size: 1rem;
    }

    .liveSearchInputContainer {
        width: 100%; 
        margin-top: 5px;
    }

    .liveSearchInput {
        width: 100%;
        padding: 5px;
        font-size: 0.95rem;
        border-radius: 5px;
        box-sizing: border-box;

    }
}