#prod-review-submission {
    padding: 20px 50px;
    width: auto;
}

#prod-review-textarea {
    width: 100%;
    margin: 15px 0px;
    height: 20vh;
    max-height: 500px;
    border-radius: 5px;
    padding: 15px;
    font-size: 1rem; 
    box-sizing: border-box;
    resize: none;
}

#prod-review-textarea:disabled {
    opacity: 60%;
}

#prod-review-btn-area {
    flex-direction: row-reverse;
}

#rating-range-input {
    width: 50%;   
}

#prod-rating-select {
    margin-top: 15px;
}
