.prodReviewsSubmissionContainer {
    padding: 20px 50px;
    width: auto;
}

.prodReviewTextArea {
    width: 100%;
    margin: 15px 0px;
    height: 20vh;
    max-height: 1000px;
    border-radius: 5px;
    padding: 15px;
    font-size: 1rem; 
    box-sizing: border-box;
    resize: none;
}

.prodReviewTextArea:disabled {
    opacity: 60%;
}

.prodReviewBtnArea {
    flex-direction: row-reverse;
}

.ratingRangeInput {
    width: 50%;   
}

.prodRatingSelect {
    margin-top: 15px;
}

@media screen and (max-width: 767px) {
    .prodReviewsSubmissionContainer {
        padding: 20px 30px;
        width: auto;
    }

    .prodReviewTextArea {
        width: 100%;
        margin: 15px 0px;
        height: 20vh;
        max-height: 1000px;
        border-radius: 5px;
        padding: 15px;
        font-size: 1rem; 
        box-sizing: border-box;
        resize: none;
    }

    .ratingRangeInput {
        width: 80%;   
    }
}