#product-container {
    padding: 25px 25px 25px 15px;
    width: 100%;    
    box-sizing: border-box;
}

.reviewComponentsContainer {
    gap: 10px;
    margin-top: 10px;
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .reviewComponentsContainer {
        flex-direction: column-reverse;    
    }
}