#product-container {
    padding: 25px 25px 25px 15px;
    width: 100%;    
    box-sizing: border-box;
}

#prod-col-1 {
    width: fit-content;
    max-width: 60vw;
}

#prod-col-2 {
    width: 40%;
    padding-left: 25px;
}

#prod-name,
#prod-seller,
#prod-price {
    margin: 0;
}

#prod-price {
    margin-top: 20px;
    font-size: 1.7rem;
}

#prod-name {
    font-size: 1.5rem;
}

#prod-seller {
    font-size: 1rem;
}

#prod-rating {
    margin-top: 3px;
}

#prod-btn-container {
    margin-top: 50px;
    width: 100%;
    gap: 5px;
    align-items: center;
}

#prod-description-header {
    font-weight: 500;
}

#prod-description {
    margin-top: 10px;
    padding: 0px 15px;
}

#description-container {
    margin-left: 10px;
}

#prod-reviews-container {
    padding: 25px;
}

#prod-reviews-header {
    font-weight: 500;
}