.prodContainerSmall {
    padding: 15px;
    max-width: 250px;
}

#prod-card-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}

#prod-card-name,
#prod-card-rating-row
{
    width: fit-content;
}

#prod-card-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
}

#prod-price {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
}