.prodContainerSmall {
    padding: 15px;
    max-width: 250px;
}

#prod-image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}

#prod-name,
#prod-rating-row,
#prod-stars-container
{
    width: fit-content;
}

#prod-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
}

.starIcon {
    color: #ffcd45;
}

#prod-stars-container {
    margin-left: 5px;
}

#prod-num-of-ratings {
    margin-left: 15px;
}

#prod-price {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
}