.prodInfoCardDivider {
    margin: 30px 15px 10px 15px;
}

.prodColContainer {
    flex-direction: row;
}

.prodCol1 {
    width: 60%;
    height: fit-content;
    max-width: 60vw;
}

.prodCol2 {
    width: 50%;
    padding-left: 25px;
}

.productInfoContainer {
    padding: 25px 20px;
}

.prodName,
.prodSeller,
.prodPrice {
    margin: 0;
}

.prodName,
.prodSeller,
.prodDescription,
.prodDescriptionEllipsis {
    user-select: text;
}

.prodDescription,
.seeMoreLabel {
    margin-top: 10px;
}

.prodPrice {
    margin-top: 20px;
    font-size: 1.7rem;
}

.prodName {
    font-size: 1.5rem;
}

.prodSeller {
    font-size: 1rem;
}

#prod-rating {
    margin-top: 3px;
}

.prodBtnContainer {
    width: 100%;
    height: 100%;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 18px;
}

.prodDescription {
    padding: 0px 15px;
}

.prodDescriptionEllipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.descriptionContainer {
    box-sizing: content-box;
    margin-left: 10px;
}

.seeMoreLabel {
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .productInfoContainer {
        padding: 20px 10px;
    }

    .prodColContainer {
        flex-direction: column;
    }

    .prodCol1,
    .prodCol2 {
        width: 100%;
    }

    .prodCol1 {
        max-width: none;
    }

    .prodCol2 {
        padding: 0px 10px;
    }

    .prodBtnContainer {
        margin-bottom: 0px;
        margin-top: 50px;
    }

    .prodPrice {
        margin-top: 10px;
    }
}