.reviewContentContainer {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.profilePicture {
    /* width: fit-content; */
    /* height: auto; */
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    align-self: flex-start;
}

.picIcon {
    width: 20px;
    height: 20px;
    color: gray;
}

.reviewComment {
    margin-top: 20px;
}

.reviewDateColMobile
.reviewDateCol {
    margin-left: auto;
}

.reviewDateTime
.reviewDateTime{
    text-wrap: nowrap;
}

.reviewDateColMobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .reviewComment {
        margin-top: 15px;
    }

    .reviewDateColMobile {
        display: block;
    }

    .reviewDateCol {
        display: none;
    }
}