#top-header-container {
    width: auto;
    padding: 20px;
    min-height: 3vh;
    background-color: #1C4EA3;
    justify-content: space-between;
    overflow: hidden;
}

#top-header-search-container {
    position: relative;
    display: flex;
    margin-left: 67px;
}

#search-field {
    width: 25rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    font-size: 0.9rem;
}

#search-field:focus {
    outline: none;
}

#search-icon {
    position: absolute;
    right: 10px;

    width: 15px;
    height: 15px;
    color: #bdbdbd;
}

.headerText {
    user-select: none;
    white-space: nowrap;

    color: #ffffff;
    font-size: 1rem;
    margin: 0;
}

#store-icon {
    width: 40px;
    height: 40px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

#user-chevron {
    color: #ffffff;
    opacity: 50%;
    margin-left: 5px;
    cursor: pointer;
}

#header-title {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
}

/* mobile */
@media screen and (max-width: 767px) {
    #header-title {
        display: none;
    }
}

