.topHeaderContainer {
    width: auto;
    padding: 15px 20px;
    background-color: #1C4EA3;
    justify-content: space-between;
    flex-shrink: 0;
    overflow: hidden;
}

.topHeaderSearchContainer {
    position: relative;
    display: flex;
    margin-left: 67px;
}

.searchField {
    width: 25rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    font-size: 0.9rem;
}

.searchField :focus {
    outline: none;
}

.searchIcon {
    position: absolute;
    right: 10px;

    width: 15px;
    height: 15px;
    color: #bdbdbd;
    cursor: pointer;
}

.headerText {
    user-select: none;
    white-space: nowrap;

    color: #ffffff;
    font-size: 1rem;
    margin: 0;
}

.storeIcon {
    width: 40px;
    height: 40px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.userChevron {
    color: #ffffff;
    opacity: 50%;
    margin-left: 10px;
    cursor: pointer;
}

.headerTitle {
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
}

/* mobile */
@media screen and (max-width: 767px) {
    .headerTitle {
        display: none;
    }
}

