@media screen and (max-width: 767px) { 
   .toggleChevron {
        width: 18px;
        height: 18px;
    }

    .infoToggleHeader {
        justify-content: space-between;
        border-radius: 5px;
    }

    .infoToggleHeader:active {
        background-color: #0F2A57;
        filter: brightness(115%);
    }

    .infoHeader,
    .toggleChevron {
        margin: 10px 20px;   
    }

    .infoHeader {
        user-select: none;
        font-size: 1rem;
        font-weight: 500;
        text-align: start;
    }

    .contactInfoIcon {
        width: 14px;
        height: 14px;
    }

    .infoDropdown {
        padding: 7px 20px;  
        font-size: 0.9rem;
        gap: 5px;
        cursor: pointer;
    }

    .infoDropdown:active {
        background-color: #0F2A57;
        filter: brightness(115%);
    }

    .infoDropdownContainer {
        border-top: #17428A 1px solid;
    }

    .showingItems {
        padding: 7px 0px;
        border-bottom: #17428A 1px solid;
    }
}  


   
   