body {
    background-color: #fafafa;
}

#potw-container {
    padding: 15px 50px;
}

#potw-header {
    display: block;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

#potw-prod-grid {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 15px;
}

.spacing {
    margin-top: 30px;
}

@media screen and (max-width: 767px) {
    #potw-prod-grid {
        grid-template-columns: repeat(2, auto);
        gap: 0.3rem;
        width: 100%;
        margin-bottom: 10px;
    }

    #potw-container {
        padding: 15px 15px;
    }

    .spacing {
        margin-top: 10px;
    }
}