body {
    background-color: #fafafa;
}

#potw-container {
    padding: 15px 50px;
    /* flex: 1; */
    /* box-sizing: border; */
}

#potw-header {
    display: block;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

#potw-prod-grid {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
    #potw-prod-grid {
        display: grid;
        width: fit-content;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.3rem;
        margin-bottom: 15px;
    }

}