.starIcon {
    color: #ffcd45;
}

.starsContainer {
    margin-left: 5px;
    width: fit-content;
}

.numOfRatingsVal {
    margin-left: 15px;
}

@media screen and (max-width: 767px) {
    .starIcon {
        width: 15px
    }
    
    .numOfRatingsVal {
        margin-left: 10px;
    }
    
    .ratingVal,
    .numOfRatingsVal {
        font-size: 0.9rem;
    }
}   