.cardContainer{
    background-color: #ffffff;
    border: #bdbdbd solid 1px;
    border-radius: 10px;
    margin-left: var(--left-margin);
    margin-right: var(--right-margin);
    margin-top: var(--top-margin);
    margin-bottom: var(--bottom-margin);
    width: var(--card-width);
    height: var(--card-height);
    user-select: none;
    cursor: var(--card-cursor);
    box-sizing: border-box;
}