#return-to-top-btn,
#info-header,
.infoLink,
.footerBottomRow {
    user-select: none;
}

.contactInfoRow,
.footerBottomRow, 
.infoColumn {
    gap: 5px;
}

.contactInfoRow {
    align-items: center;
}

.infoLink,
#return-to-top-btn {
    cursor: pointer;
}

#footer-container { 
    width: 100%;
    color: white;
    font-size: 1rem;
    margin-top: auto;
}

#return-to-top-btn {
    gap: 15px;
    padding: 15px 0px;
    background-color: #17428A;
}

.footer {
    background-color: #0F2A57;
}

#footer-info {
    padding: 20px 0px 70px 0px;
    gap: 150px;
}

#info-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.infoLink {
    text-align: center;
}

.footerBottomRow {
    font-size: 0.9rem;
}

#footer-copyright-info {
    padding: 5px 0px;
}