.returnToTopBtn,
.infoLink,
.footerBottomRow {
    user-select: none;
}

.footerBottomRow, 
.infoColumnMobile,
.infoColumn {
    gap: 5px;
}

.infoColumnMobile {
    display: none;  
}

.infoLink,
.returnToTopBtn {
    cursor: pointer;
}

.footerContainer { 
    width: 100%;
    color: white;
    font-size: 1rem;
    margin-top: auto;
}

.returnToTopBtn {
    gap: 15px;
    padding: 15px 0px;
    background-color: #17428A;
}

.footer {
    background-color: #0F2A57;
}

.footerInfo {
    flex-direction: row;
    padding: 20px 0px 70px 0px;
    justify-content: space-evenly;
}

.infoLink {
    text-align: center;
}

.footerBottomRow {
    font-size: 0.9rem;
}

.footerCopyrightInfo {
    padding: 5px 0px;
}

@media screen and (max-width: 767px) { 
    .footerInfo {
        flex-direction: column;
        padding: 20px 0px 70px 0px;
        justify-content: space-evenly;
    }
    
    .infoLink {
        text-align: center;
        font-size: 0.9rem;
    }

    .infoColumn {
        display: none;
    }

    .infoColumnMobile {
        display: block;
    }
}