@media screen and (min-width: 768px) {
    .contactInfoRow {
        gap: 3px;
        align-items: center;
    }

    .contactInfoRowContainer {
        gap: 5px;
    }

    .infoHeader {
        user-select: none;
        font-weight: 500;
        text-align: center;
        margin-bottom: 15px
    }
}

