.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.vCenter {
  align-items: center;
}

.hCenter {
  justify-content: center;
}

.mainPageContainer {
  flex: 1;
  overflow: auto;
  height: 100vh;
}

.pageContentContainer {
  padding: 30px;  
}