.infoColumnMobile,
.infoColumn {
    gap: 5px;
}

.infoColumnMobile {
    display: none;  
}

@media screen and (max-width: 767px) { 
    .infoColumnMobile {
        display: block;
    }

    .infoColumn {
        display: none;
    }
}